* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Varela Round", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  background-color: #1DB5F3;
}

h1 {
  font-size: 180px;
}

h3 {
  font-size: 40px;
}

@media screen and (max-width: 42em) {
  h1 {
    font-size: 70px;
  }

  h3 {
    font-size: 30px;
  }